#jumbotron {
  padding: 6rem;
  background-color: rgb(255, 192, 192);
}

#Gallery {
  padding-top: 2rem;
  min-height: 1060px;
  background-color: rgb(255, 192, 192);
}
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
